@import "../../global.scss";

.setup-quiz {
  width: 100vw;
  height: 100vh;
  @include flex-center;
  //   background: rgb(197, 155, 155);

  .container {
    border-radius: 0.8rem;
    background-color: $col-bg-3;
    width: 80%;
    max-width: 370px;
    min-height: 40rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    .header {
      //   flex: 0.4;
      font-size: 2rem;
      text-align: center;
      margin-bottom: 3rem;
      color: white;
    }
    .form {
      //   flex: 0.6;
      .form-control {
        margin-bottom: 2rem;
        label {
          display: block;
          font-size: 1.3rem;
          margin-bottom: 1.3rem;
          color: white;
          font-weight: 600;
        }
        input,
        select {
          width: 100%;
          padding: 0.6rem;
          border: none;
          background-color: $col-bg-2;
          color: white;
          font-weight: 600;
        }
      }
    }
    p {
      color: white;
      text-align: center;
      font-size: 1.2rem;
    }

    .submit-btn {
      margin: 2rem auto;
      border-radius: 1rem;
      width: 100%;
      border: none;
      padding: 0.5rem 0;
      cursor: pointer;
      color: $col-bg-3;
      background-color: $col-bg-2;
      color: white;
      font-weight: bold;

      &:hover {
        background-color: white;
        color: $col-bg-2;
      }
    }
  }
}
